@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Sen', sans-serif;
}

body {
    font-size: 16px;
    line-height: 1.6;
    background-color: #ffffff;
    color: #333;
}

#back-btn {
    position: fixed;   
    top: 20px;         
    left: 20px;        
    z-index: 9999;     
    cursor: pointer;

    width: 70px;
    height: 40px; 
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(238, 230, 230, 0.5);
    border-radius: 30px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
    
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
    overflow: hidden;

    transition: all 0.3s ease;
}


#back-btn .back-icon {
    width: 50px;
    height: 30px;   
    margin: 0;
    transition: transform 0.3s ease;
}


#back-btn:hover {
    border-color: rgba(245, 197, 37, 0.5);
    background-color: rgba(255, 166, 0, 0.5);
    transform: translateX(-3px);
}

#back-btn:hover .back-icon {
    transform: translateX(-20px); 
}
.container {
    width: 80%;
    max-width: 900px;
    margin: 20px auto;
    padding: 40px;
}
.login-logo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 25px;
  width: 100%;
}

.login-logo {
  max-width: 250px;
  height: auto;
  object-fit: contain;
  animation: fadeIn 0.8s ease-out; 
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.container {
    width: 80%;
    max-width: 900px;
    margin: 20px auto;
    padding: 40px;
}

@media (max-width: 768px) {
    .container {
        width: 90%;
        padding: 20px;
    }
}

@media (max-width: 480px) {
    .container {
        width: 95%;
        padding: 10px;
    }
}

p {
    font-size: 21px;
    line-height: 33.6px;
    margin: 16px 0;
}

img {
    max-width: 100%;
    display: block;
    margin: 20px auto;
    height: auto;
}

p.entry-text {
    font: 15px;
    font-style: italic;
    text-align: center;
    color: rgba(0, 0, 0, .8);
}

a.highlight {
    background-image: linear-gradient(transparent 60%, #F5C525 60%);
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-position: under;
    text-decoration-color: rgba(0, 0, 0, .5);
    color: #333;
    font-weight: bold;
    cursor: pointer; 
}

a.highlight:visited {
    color: #333;
}

h1 {
    color: #000000;
    text-align: left;
    font-weight: bolder;
    font-size: 40px;
    padding: 20px 0;
    margin: 0 0 16px;
}

h2 {
    color: #000000;
    text-align: center;
    font-weight: bold;
    font-size: 36px;
    line-height: 43px;
    margin: 16px 0;
}

h3 {
    color: #000000;
    text-align: left;
    font-weight: bold;
    font-size: 32px;
    margin: 16px 0;
    line-height: 39px;
    text-transform: uppercase;
}

ul.image-list {
    list-style: none;
    padding: 0;
    font-size: 21px;
}

ul.image-list li {
    padding-left: 40px;
}

ul.image-list li::before {
    content: "➤";
    width: 1em;
    margin-left: -1.3em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

ol.counter {
    list-style: none;
    counter-reset: step-counter;
}

ol.counter li {
    position: relative;
    padding-left: 30px;
    font-size: 21px;
}

ol.counter li::before {
    content: counter(step-counter);
    counter-increment: step-counter;
    background: #F5C525;
    border-radius: 50%;
    color: #000;
    width: 24px;
    height: 24px;
    position: absolute;
    left: -5px;
    top: 5px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}

.step {
    margin-bottom: 20px;
    font-size: 21px;
}