<footer class="footer">
    <a class="back" href="#"></a>
<div class="container-footer">
    <div class="left-footer">
        <a href="../views/home.html">
            <img src="../images/webicon/web_logo.png" alt="BrewPedia Logo" class="website-logo">
        </a>
        <div class="social">
            <a href="https://www.instagram.com/iamjack1997/">
                <i class="fa-brands fa-instagram"></i>
            </a>
            <a href="https://www.facebook.com/groups/550568018088400">
                <i class="fa-brands fa-facebook"></i>
            </a>
            <a href="https://www.youtube.com/@J97imjack">
                <i class="fa-brands fa-youtube" style="color: #333;"></i>
            </a>
        </div>
    </div>

    <div class="right-footer">
        <ul id="Connect">
            <li><a href="#">Kết Nối</a></li>
            <li><a href="../introduction.html">Về Chúng Tôi</a></li>
            <li><a href="https://www.youtube.com/@J97imjack">Facebook</a></li>
            <li><a href="https://www.instagram.com/iamjack1997/">Instargram</a></li>
            <li><a href="https://www.facebook.com/groups/550568018088400">Youtube</a></li>
        </ul>

        <ul id="Flavors">
            <li><a href="#">Hương Vị</a></li>
            <li><a href="#">Hương Trái Cây</a></li>
            <li><a href="#">Hương Gia Vị</a></li>
            <li><a href="#">Hương Thảo Mộc</a></li>
            <li><a href="#">Hương Hoa</a></li>
            <li><a href="#">Hương Vị Mùa Nóng</a></li>
            <li><a href="#">Hương Vị Mua Lạnh</a></li>
        </ul>

        <ul id="Faq">
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Cách làm Kombucha</a></li>
            <li><a href="#">Nó có phải mốc không?</a></li>
            <li><a href="#">Cách làm Kombucha cồn</a></li>
            <li><a href="#">Hướng dẫn về men Kahm</a></li>
            <li><a href="#">Ngăn chai bị nổ</a></li>
        </ul>

        <ul id="Supplies">
            <li><a href="#">Nguyên Liệu</a></li>
            <li><a href="#">Bộ Dụng Cụ Khởi Đầu</a></li>
            <li><a href="#">Hướng Dẫn Đầy Đủ 49 Trang</a></li>
            <li><a href="#">Hướng Dẫn Quà Tặng Kombucha</a></li>
        </ul>
        </ul>
    </div>
</div>
</footer>

<div class="info">
<h6>© Website Báo Cáo Cuối Kỳ - D19QTANM</h6>
</div>