<footer class="footer">
    <a class="back" href="#"></a>
<div class="container-footer">
    <div class="left-footer">
        <a href="../views/home.html">
            <img src="../images/webicon/web_logo.png" alt="Mango Hello Logo" class="website-logo">
        </a>
        <div class="social">
            <a href="https://www.instagram.com/p/DUmfjfPFLU8/">
                <i class="fa-brands fa-instagram"></i>
            </a>
            <a href="https://www.facebook.com/MangoHelloVietnam">
                <i class="fa-brands fa-facebook"></i>
            </a>
            <a href="https://www.youtube.com/@MangoHelloVN">
                <i class="fa-brands fa-youtube" style="color: #333;"></i>
            </a>
        </div>
    </div>

    <div class="right-footer">
        <ul id="Connect">
            <li><a href="#">Kết Nối</a></li>
            <li><a href="../introduction.html">Về Chúng Tôi</a></li>
            <li><a href="https://www.facebook.com/MangoHelloVietnam">Facebook</a></li>
            <li><a href="https://www.instagram.com/p/DUmfjfPFLU8/">Instagram</a></li>
            <li><a href="https://www.youtube.com/@MangoHelloVN">Youtube</a></li>
        </ul>

        <ul id="Flavors">
            <li><a href="#">Hương Vị</a></li>
            <li><a href="#">Trà Xoài Truyền Thống</a></li>
            <li><a href="#">Trà Xoài Macchiato (Kem Cheese)</a></li>
            <li><a href="#">Trà Xoài Nhiệt Đới (Mix Trái Cây)</a></li>
            <li><a href="#">Trà Xoài Matcha & Thảo Mộc</a></li>
            <li><a href="#">Thức Uống Xoài Mùa Hè (Đá Xay)</a></li>
            <li><a href="#">Trà Xoài Đậm Vị Mùa Lạnh</a></li>
        </ul>

        <ul id="Faq">
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Cách chọn xoài ngon làm trà</a></li>
            <li><a href="#">Cách ủ trà không bị đắng chát</a></li>
            <li><a href="#">Cách làm mứt xoài (Mango Puree) tại nhà</a></li>
            <li><a href="#">Bí quyết giữ trà xoài tươi ngon cả ngày</a></li>
            <li><a href="#">Trà xoài có để qua đêm được không?</a></li>
        </ul>

        <ul id="Supplies">
            <li><a href="#">Nguyên Liệu & Dụng Cụ</a></li>
            <li><a href="#">Cốt Trà & Syrup Xoài Thượng Hạng</a></li>
            <li><a href="#">Bộ Dụng Cụ Pha Chế Cho Người Mới</a></li>
            <li><a href="#">Sách Công Thức 49 Trang Về Trà Trái Cây</a></li>
            <li><a href="#">Ý Tưởng Quà Tặng Từ Xoài</a></li>
        </ul>
    </div>
</div>
</footer>

<div class="info">
<h6>© Website Báo Cáo Cuối Kỳ - D19QTANM</h6>
</div>