<div class="header-placeholder"></div>
<div class="comprehensive">
    <a href="https://www.tu-farm.com/blog/post/cach-lam-tra-xoai-ngon-tai-nha?srsltid=AfmBOorhSiiFVc6xvbrzY75RxlY34Na2a7JU6vK4hpthL3ngQE2r2Kub">Nhận hướng dẫn chi tiết pha chế →</a>
</div>

<header class="header">
    <div class="left-header">
        <div class="menu-toggle" onclick="toggleMenu()">☰</div>
        <a href="../views/home.html">
            <img src="../images/webicon/web_logo.png" width="290px" alt="Mango Hello Logo" class="website-logo" />
        </a>
        <div class="search-icon mobile" id="open-modal-mobile">
            <i class="fa-solid fa-magnifying-glass"></i>
        </div>
    </div>
    <div class="right-header">
        <ul>
            <li><a href="./tutorial.html">Bắt Đầu Thôi</a></li>
            <li>
                <span>Menu Xoài <i class="fa-solid fa-chevron-down"></i></span>
                <ul class="Flavors_ul">
                    <li>Trà Trái Cây</li>
                    <li>Trà Sữa</li>
                    <li>Smoothies</li>
                    <li>Sữa Chua</li>
                </ul>
            </li>
            <li>
                <span><a href="./faq.html">FAQ</a></span>
            </li>
            <li><a href="./shop.html">Cửa Hàng</a></li>
            <li><a href="./introduction.html">Giới Thiệu</a></li>
            <li><a href="https://www.facebook.com/MangoHelloVietnam">Cộng Đồng</a></li>
        </ul>
    </div>
    <div class="search-icon" id="open-modal">
        <i class="fa-solid fa-magnifying-glass"></i>
    </div>
    <div class="modal" id="modal">
        <div class="modal-inner">
            <div class="auth-links">
                <a href="/luny26/views/login.html">Đăng nhập</a>
                <a href="/luny26/views/register.html">Đăng ký</a>
            </div>
            <div class="search-bar">
                <input type="text" id="search-input" placeholder="Search...">
                <button id="search-button">Tìm Kiếm</button>
                <button id="close-modal">Trở Lại</button>
            </div>
        </div>
    </div>

</header>