<div class="header-placeholder"></div>
<div class="comprehensive">
    <a href="https://aromavn.com/cach-lam-tra-kombucha-de-tai-nha-chi-tiet-de-lam">Nhận hướng dẫn chi tiết →</a>
</div>

<header class="header">
    <div class="left-header">
        <div class="menu-toggle" onclick="toggleMenu()">☰</div>
        <a href="../views/home.html">
            <img src="../images/webicon/web_logo.png" width="290px" alt="BrewPedia Logo" class="website-logo" />
        </a>
        <div class="search-icon mobile" id="open-modal-mobile">
            <i class="fa-solid fa-magnifying-glass"></i>
        </div>
    </div>
    <div class="right-header">
        <ul>
            <li><a href="./tutorial.html">Bắt Đầu Thôi</a></li>
            <li>
                <span>Hương Vị <i class="fa-solid fa-chevron-down"></i></span>
                <ul class="Flavors_ul">
                    <li>Hương Trái Cây</li>
                    <li>Hương Gia Vị</li>
                    <li>Hương Thảo Mộc</li>
                    <li>Hương Hoa</li>
                    <li>Hương Vị Mùa Nóng</li>
                    <li>Hương Vị Mùa Lạnh</li>
                </ul>
            </li>
            <li>
                <span><a href="./faq.html">FAQ</i></a></span>
            </li>
            <li><a href="./shop.html">Cửa Hàng</a></li>
            <li><a href="./introduction.html">Giới Thiệu</a></li>
            <li><a href="https://www.facebook.com/groups/550568018088400">Cộng Đồng</a></li>
        </ul>
    </div>
    <div class="search-icon" id="open-modal">
        <i class="fa-solid fa-magnifying-glass"></i>
    </div>
    <div class="modal" id="modal">
        <div class="modal-inner">
            <div class="auth-links">
                <a href="/assets/views/login.html">Đăng nhập</a>
                <a href="/assets/views/register.html">Đăng ký</a>
            </div>
            <div class="search-bar">
                <input type="text" id="search-input" placeholder="Search...">
                <button id="search-button">Tìm Kiếm</button>
                <button id="close-modal">Trở Lại</button>
            </div>
        </div>
    </div>

</header>